In [143]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import current_date

spark = SparkSession.builder \
    .appName("ProcessingTask") \
    .master("spark://spark-master:7077") \
    .config("spark.jars.repositories", "https://packages.confluent.io/maven/") \
    .config("spark.jars.packages", ",".join([
        "org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.0",
        "org.apache.spark:spark-avro_2.12:3.5.0"
    ])) \
    .config("spark.hadoop.fs.s3a.access.key", "telcoaz") \
    .config("spark.hadoop.fs.s3a.secret.key", "Telco12345") \
    .config("spark.hadoop.fs.s3a.endpoint", "http://minio:9000") \
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
    .config("spark.hadoop.fs.s3a.path.style.access", "true") \
    .getOrCreate()

df = spark.read.parquet("s3a://spark/yellow_tripdata_2024-01.parquet")
# pd_df = df.limit(10).toPandas()

In [ ]:
# working with selects
df.selectExpr("tolls_amount").show(5)

+------------+
|tolls_amount|
+------------+
|         0.0|
|         0.0|
|         0.0|
|         0.0|
|         0.0|
+------------+
only showing top 5 rows

In [ ]:
#working with selects
df.select("tolls_amount").show(5)

+------------+
|tolls_amount|
+------------+
|         0.0|
|         0.0|
|         0.0|
|         0.0|
|         0.0|
+------------+
only showing top 5 rows

In [ ]:
# extracting only date part
from pyspark.sql.functions import to_date
new_df = df.withColumn("new_column", to_date("tpep_pickup_datetime"))

In [84]:
new_df.select("tpep_pickup_datetime", "new_column").show(truncate=False)

+--------------------+----------+
|tpep_pickup_datetime|new_column|
+--------------------+----------+
|2024-01-01 00:57:55 |2024-01-01|
|2024-01-01 00:03:00 |2024-01-01|
|2024-01-01 00:17:06 |2024-01-01|
|2024-01-01 00:36:38 |2024-01-01|
|2024-01-01 00:46:51 |2024-01-01|
|2024-01-01 00:54:08 |2024-01-01|
|2024-01-01 00:49:44 |2024-01-01|
|2024-01-01 00:30:40 |2024-01-01|
|2024-01-01 00:26:01 |2024-01-01|
|2024-01-01 00:28:08 |2024-01-01|
|2024-01-01 00:35:22 |2024-01-01|
|2024-01-01 00:25:00 |2024-01-01|
|2024-01-01 00:35:16 |2024-01-01|
|2024-01-01 00:43:27 |2024-01-01|
|2024-01-01 00:51:53 |2024-01-01|
|2024-01-01 00:50:09 |2024-01-01|
|2024-01-01 00:41:06 |2024-01-01|
|2024-01-01 00:52:09 |2024-01-01|
|2024-01-01 00:56:38 |2024-01-01|
|2024-01-01 00:32:34 |2024-01-01|
+--------------------+----------+
only showing top 20 rows

In [24]:
# To extract pickup time from tpep_pickup_datetime column
df2 = df.selectExpr(
    "tpep_pickup_datetime",
    "to_date(tpep_pickup_datetime) as new_column"
)
df2.show()

+--------------------+----------+
|tpep_pickup_datetime|new_column|
+--------------------+----------+
| 2024-01-01 00:57:55|2024-01-01|
| 2024-01-01 00:03:00|2024-01-01|
| 2024-01-01 00:17:06|2024-01-01|
| 2024-01-01 00:36:38|2024-01-01|
| 2024-01-01 00:46:51|2024-01-01|
| 2024-01-01 00:54:08|2024-01-01|
| 2024-01-01 00:49:44|2024-01-01|
| 2024-01-01 00:30:40|2024-01-01|
| 2024-01-01 00:26:01|2024-01-01|
| 2024-01-01 00:28:08|2024-01-01|
| 2024-01-01 00:35:22|2024-01-01|
| 2024-01-01 00:25:00|2024-01-01|
| 2024-01-01 00:35:16|2024-01-01|
| 2024-01-01 00:43:27|2024-01-01|
| 2024-01-01 00:51:53|2024-01-01|
| 2024-01-01 00:50:09|2024-01-01|
| 2024-01-01 00:41:06|2024-01-01|
| 2024-01-01 00:52:09|2024-01-01|
| 2024-01-01 00:56:38|2024-01-01|
| 2024-01-01 00:32:34|2024-01-01|
+--------------------+----------+
only showing top 20 rows

In [ ]:
# Example: Get total passenger count by year with spark.sql 
df.createOrReplaceTempView("trips")
result = spark.sql("""
    SELECT year(tpep_pickup_datetime) AS year, SUM(passenger_count) AS total_passenger_count
    FROM trips
    GROUP BY year
    ORDER BY year
""")

result.show()

In [25]:
from pyspark.sql.functions import year, sum
#group by year and find total_passenger_count by pickup year

df2 = df.withColumn("pickup_year", year("tpep_pickup_datetime"))

# 2. Group by year and sum passenger_count
result = df2.groupBy("pickup_year") \
            .agg(sum("passenger_count").alias("total_passenger_count"))

result.show()

+-----------+---------------------+
|pickup_year|total_passenger_count|
+-----------+---------------------+
|       2023|                   19|
|       2009|                    4|
|       2024|              3782723|
|       2002|                    2|
+-----------+---------------------+

In [27]:
from pyspark.sql.functions import col, avg

# Calculate tip percentage (tip_amount / fare_amount)
df_tip_pct = df.withColumn("tip_percentage", col("tip_amount") / col("fare_amount"))

# Average tip percentage across all trips
df_tip_pct.agg(avg("tip_percentage").alias("average_tip_percentage")).show()

+----------------------+
|average_tip_percentage|
+----------------------+
|   0.22809923154005327|
+----------------------+

In [42]:
# Count payment_types
df.groupBy("payment_type").count().orderBy("count", ascending=False).show()

+------------+-------+
|payment_type|  count|
+------------+-------+
|           1|2319046|
|           2| 439191|
|           0| 140162|
|           4|  46628|
|           3|  19597|
+------------+-------+

In [43]:
from pyspark.sql.functions import hour

# calculate pickup_hour and count which has most 
df.withColumn("pickup_hour", hour("tpep_pickup_datetime")) \
  .groupBy("pickup_hour") \
  .count() \
  .orderBy("pickup_hour") \
  .show()

+-----------+------+
|pickup_hour| count|
+-----------+------+
|          0| 79094|
|          1| 53627|
|          2| 37517|
|          3| 24811|
|          4| 16742|
|          5| 18764|
|          6| 41429|
|          7| 83719|
|          8|117209|
|          9|128970|
|         10|138778|
|         11|150542|
|         12|164559|
|         13|169903|
|         14|182898|
|         15|189359|
|         16|190201|
|         17|206257|
|         18|212788|
|         19|184032|
+-----------+------+
only showing top 20 rows

In [44]:
from pyspark.sql.functions import dayofweek

# dayofweek: 1=Sunday, 2=Monday, ..., 7=Saturday
df.withColumn("pickup_dayofweek", dayofweek("tpep_pickup_datetime")) \
  .groupBy("pickup_dayofweek") \
  .count() \
  .orderBy("pickup_dayofweek") \
  .show()

+----------------+------+
|pickup_dayofweek| count|
+----------------+------+
|               1|339312|
|               2|408277|
|               3|463664|
|               4|495032|
|               5|428593|
|               6|408588|
|               7|421158|
+----------------+------+

In [56]:
from pyspark.sql.functions import unix_timestamp,col
#to find trip duration in munutes
df_duration = df.withColumn(
    "trip_duration_min",
    (unix_timestamp("tpep_dropoff_datetime") - unix_timestamp("tpep_pickup_datetime")) / 60.0
)
df_duration.select("tpep_pickup_datetime", "tpep_dropoff_datetime", "trip_duration_min").show(50)

+--------------------+---------------------+-------------------+
|tpep_pickup_datetime|tpep_dropoff_datetime|  trip_duration_min|
+--------------------+---------------------+-------------------+
| 2024-01-01 00:57:55|  2024-01-01 01:17:43|               19.8|
| 2024-01-01 00:03:00|  2024-01-01 00:09:36|                6.6|
| 2024-01-01 00:17:06|  2024-01-01 00:35:01| 17.916666666666668|
| 2024-01-01 00:36:38|  2024-01-01 00:44:56|                8.3|
| 2024-01-01 00:46:51|  2024-01-01 00:52:57|                6.1|
| 2024-01-01 00:54:08|  2024-01-01 01:26:31|  32.38333333333333|
| 2024-01-01 00:49:44|  2024-01-01 01:15:47|              26.05|
| 2024-01-01 00:30:40|  2024-01-01 00:58:40|               28.0|
| 2024-01-01 00:26:01|  2024-01-01 00:54:12| 28.183333333333334|
| 2024-01-01 00:28:08|  2024-01-01 00:29:16| 1.1333333333333333|
| 2024-01-01 00:35:22|  2024-01-01 00:41:41|  6.316666666666666|
| 2024-01-01 00:25:00|  2024-01-01 00:34:03|               9.05|
| 2024-01-01 00:35:16|  2024-01-01 01:11:52|               36.6|
| 2024-01-01 00:43:27|  2024-01-01 00:47:11| 3.7333333333333334|
| 2024-01-01 00:51:53|  2024-01-01 00:55:43| 3.8333333333333335|
| 2024-01-01 00:50:09|  2024-01-01 01:03:57|               13.8|
| 2024-01-01 00:41:06|  2024-01-01 00:53:42|               12.6|
| 2024-01-01 00:52:09|  2024-01-01 00:52:28|0.31666666666666665|
| 2024-01-01 00:56:38|  2024-01-01 01:03:17|               6.65|
| 2024-01-01 00:32:34|  2024-01-01 00:49:33| 16.983333333333334|
| 2024-01-01 00:52:30|  2024-01-01 00:57:37|  5.116666666666666|
| 2024-01-01 00:36:30|  2024-01-01 01:13:53|  37.38333333333333|
| 2024-01-01 00:44:24|  2024-01-01 00:51:57|               7.55|
| 2024-01-01 00:14:29|  2024-01-01 00:14:29|                0.0|
| 2024-01-01 00:42:05|  2024-01-01 01:16:49| 34.733333333333334|
| 2024-01-01 00:12:35|  2024-01-01 00:19:21|  6.766666666666667|
| 2024-01-01 00:20:11|  2024-01-01 00:42:53|               22.7|
| 2024-01-01 00:44:01|  2024-01-01 00:54:31|               10.5|
| 2024-01-01 00:08:12|  2024-01-01 00:41:08|  32.93333333333333|
| 2024-01-01 00:36:25|  2024-01-01 00:47:26| 11.016666666666667|
| 2024-01-01 00:49:31|  2024-01-01 01:35:41| 46.166666666666664|
| 2024-01-01 00:15:34|  2024-01-01 00:28:51| 13.283333333333333|
| 2024-01-01 00:15:26|  2024-01-01 00:33:57| 18.516666666666666|
| 2024-01-01 00:18:36|  2024-01-01 00:40:49| 22.216666666666665|
| 2024-01-01 00:09:17|  2024-01-01 00:16:55|  7.633333333333334|
| 2024-01-01 00:21:40|  2024-01-01 00:27:05|  5.416666666666667|
| 2024-01-01 00:39:03|  2024-01-01 00:44:28|  5.416666666666667|
| 2024-01-01 00:45:51|  2024-01-01 00:49:43| 3.8666666666666667|
| 2024-01-01 00:50:46|  2024-01-01 00:57:26|  6.666666666666667|
| 2024-01-01 00:09:49|  2024-01-01 00:22:00| 12.183333333333334|
| 2024-01-01 00:36:44|  2024-01-01 00:54:40| 17.933333333333334|
| 2024-01-01 00:58:11|  2024-01-01 01:24:47|               26.6|
| 2024-01-01 00:24:41|  2024-01-01 00:54:01| 29.333333333333332|
| 2024-01-01 00:55:58|  2024-01-01 01:03:54|  7.933333333333334|
| 2024-01-01 00:19:36|  2024-01-01 00:31:57|              12.35|
| 2024-01-01 00:45:44|  2024-01-01 00:51:25|  5.683333333333334|
| 2024-01-01 00:55:21|  2024-01-01 01:12:17| 16.933333333333334|
| 2024-01-01 00:05:45|  2024-01-01 00:17:29| 11.733333333333333|
| 2024-01-01 00:18:38|  2024-01-01 00:26:09|  7.516666666666667|
| 2024-01-01 00:38:58|  2024-01-01 00:53:37|              14.65|
+--------------------+---------------------+-------------------+
only showing top 50 rows

In [57]:
from pyspark.sql.functions import (unix_timestamp, col)

#to find average speed in mph
df_speed = df.withColumn(
    "trip_duration_hr",
    (unix_timestamp("tpep_dropoff_datetime") - unix_timestamp("tpep_pickup_datetime")) / 3600.0
).withColumn(
    "avg_speed_mph",
    col("trip_distance") / col("trip_duration_hr")
)

df_speed.select("trip_distance", "trip_duration_hr", "avg_speed_mph").show(50)

+-------------+--------------------+------------------+
|trip_distance|    trip_duration_hr|     avg_speed_mph|
+-------------+--------------------+------------------+
|         1.72|                0.33| 5.212121212121212|
|          1.8|                0.11|16.363636363636363|
|          4.7|  0.2986111111111111|15.739534883720932|
|          1.4| 0.13833333333333334|10.120481927710843|
|          0.8| 0.10166666666666667| 7.868852459016393|
|          4.7|  0.5397222222222222| 8.708183221821926|
|        10.82| 0.43416666666666665| 24.92130518234165|
|          3.0|  0.4666666666666667| 6.428571428571429|
|         5.44|  0.4697222222222222|11.581312832643407|
|         0.04| 0.01888888888888889|2.1176470588235294|
|         0.75| 0.10527777777777778|  7.12401055408971|
|          1.2| 0.15083333333333335| 7.955801104972375|
|          8.2|                0.61|13.442622950819672|
|          0.4| 0.06222222222222222| 6.428571428571429|
|          0.8| 0.06388888888888888|12.521739130434785|
|          5.0|                0.23| 21.73913043478261|
|          1.5|                0.21| 7.142857142857143|
|          0.0|0.005277777777777778|               0.0|
|          1.5| 0.11083333333333334|13.533834586466165|
|         2.57| 0.28305555555555556| 9.079489695780175|
|         0.66| 0.08527777777777777|  7.73941368078176|
|          1.7|  0.6230555555555556|2.7284886312973695|
|         0.94| 0.12583333333333332| 7.470198675496689|
|          0.0|                 0.0|              NULL|
|         23.9|  0.5788888888888889|41.285988483685216|
|         1.08| 0.11277777777777778| 9.576354679802956|
|         5.88| 0.37833333333333335|15.541850220264315|
|         2.22|               0.175|12.685714285714287|
|          5.1|  0.5488888888888889| 9.291497975708502|
|         2.09|  0.1836111111111111|11.382753403933433|
|         8.89|  0.7694444444444445|11.553790613718412|
|          2.1| 0.22138888888888889| 9.485570890840654|
|        11.51|  0.3086111111111111|37.296129612961295|
|         1.79| 0.37027777777777776| 4.834208552138035|
|          2.5|  0.1272222222222222|19.650655021834062|
|          1.6| 0.09027777777777778|17.723076923076924|
|          1.1| 0.09027777777777778|12.184615384615386|
|          0.7| 0.06444444444444444| 10.86206896551724|
|          1.1|  0.1111111111111111| 9.900000000000002|
|         2.96| 0.20305555555555554|14.577291381668948|
|          1.2| 0.29888888888888887| 4.014869888475837|
|         2.42| 0.44333333333333336| 5.458646616541353|
|         5.28|  0.4888888888888889|              10.8|
|         1.47|  0.1322222222222222| 11.11764705882353|
|         2.41| 0.20583333333333334|11.708502024291498|
|         1.04| 0.09472222222222222|10.979472140762464|
|         2.41|  0.2822222222222222|  8.53937007874016|
|         1.06| 0.19555555555555557| 5.420454545454546|
|         0.83| 0.12527777777777777| 6.625277161862528|
|         1.94| 0.24416666666666667| 7.945392491467577|
+-------------+--------------------+------------------+
only showing top 50 rows

In [58]:
from pyspark.sql.functions import sum as spark_sum

# In order to find total_passengers per day, month, year
# Per Day
df.withColumn("pickup_date", df.tpep_pickup_datetime.cast("date")) \
  .groupBy("pickup_date") \
  .agg(spark_sum("passenger_count").alias("total_passengers")) \
  .orderBy("pickup_date") \
  .show()

# Per Month
df.withColumn("pickup_month", month("tpep_pickup_datetime")) \
  .groupBy("pickup_month") \
  .agg(spark_sum("passenger_count").alias("total_passengers")) \
  .orderBy("pickup_month") \
  .show()

# Per Year
df.withColumn("pickup_year", year("tpep_pickup_datetime")) \
  .groupBy("pickup_year") \
  .agg(spark_sum("passenger_count").alias("total_passengers")) \
  .orderBy("pickup_year") \
  .show()

+-----------+----------------+
|pickup_date|total_passengers|
+-----------+----------------+
| 2002-12-31|               2|
| 2009-01-01|               4|
| 2023-12-31|              19|
| 2024-01-01|          109339|
| 2024-01-02|          104215|
| 2024-01-03|          111171|
| 2024-01-04|          136003|
| 2024-01-05|          137311|
| 2024-01-06|          133978|
| 2024-01-07|           92647|
| 2024-01-08|          100966|
| 2024-01-09|          110213|
| 2024-01-10|          116838|
| 2024-01-11|          130953|
| 2024-01-12|          134404|
| 2024-01-13|          144345|
| 2024-01-14|          128141|
| 2024-01-15|          101132|
| 2024-01-16|          111709|
| 2024-01-17|          131284|
+-----------+----------------+
only showing top 20 rows

+------------+----------------+
|pickup_month|total_passengers|
+------------+----------------+
|           1|         3782720|
|           2|               7|
|          12|              21|
+------------+----------------+

+-----------+----------------+
|pickup_year|total_passengers|
+-----------+----------------+
|       2002|               2|
|       2009|               4|
|       2023|              19|
|       2024|         3782723|
+-----------+----------------+

In [49]:
# to find which vender has highest rides
df.groupBy("VendorID").count().orderBy("VendorID").show()

+--------+-------+
|VendorID|  count|
+--------+-------+
|       1| 729732|
|       2|2234632|
|       6|    260|
+--------+-------+

In [50]:
from pyspark.sql.functions import avg

# to find average_fare_per_trip
df.agg(avg("fare_amount").alias("avg_fare_per_trip")).show()

+------------------+
| avg_fare_per_trip|
+------------------+
|18.175061916792536|
+------------------+

In [51]:
from pyspark.sql.functions import col, avg

# Calculate tip percentage (tip_amount / fare_amount)
df_tip_pct = df.withColumn("tip_percentage", col("tip_amount") / col("fare_amount"))

# Average tip percentage across all trips
df_tip_pct.agg(avg("tip_percentage").alias("average_tip_percentage")).show()

+----------------------+
|average_tip_percentage|
+----------------------+
|   0.22809923154005327|
+----------------------+

In [52]:
# find passenger count per solo or group 
df.groupBy("passenger_count") \
  .count() \
  .orderBy("passenger_count") \
  .show()

+---------------+-------+
|passenger_count|  count|
+---------------+-------+
|           NULL| 140162|
|              0|  31465|
|              1|2188739|
|              2| 405103|
|              3|  91262|
|              4|  51974|
|              5|  33506|
|              6|  22353|
|              7|      8|
|              8|     51|
|              9|      1|
+---------------+-------+

In [53]:
from pyspark.sql.functions import when, count

df_behavior = df.withColumn(
    "ride_type",
    when(df.passenger_count == 1, "solo").otherwise("group")
)

df_behavior.groupBy("ride_type").count().show()

+---------+-------+
|ride_type|  count|
+---------+-------+
|    group| 775885|
|     solo|2188739|
+---------+-------+

Cache and Persist

cache()
Shortcut for persist() with the default storage level: MEMORY_ONLY.

Keeps your DataFrame/RDD in RAM only.

If data doesn’t fit in memory, Spark will recompute partitions that don’t fit when needed.

persist()
More flexible: lets you choose how and where your data is stored.

You can use:

MEMORY_ONLY (just like cache)

MEMORY_AND_DISK (if RAM is full, spill to disk)

DISK_ONLY, MEMORY_ONLY_SER, etc.

In [79]:
df = spark.read.parquet("s3a://spark/yellow_tripdata_2024-01.parquet")

# Expensive operation: group by and sum
start = time.time()
df.groupBy("payment_type").sum("fare_amount").show()
print("Without cache:", time.time() - start)

# With cache
df_cached = df.cache()
df_cached.count()  # Triggers caching
start = time.time()
df_cached.groupBy("payment_type").sum("fare_amount").show()
print("With cache:", time.time() - start)

+------------+-------------------+
|payment_type|   sum(fare_amount)|
+------------+-------------------+
|           1|4.303553892000613E7|
|           3| 132330.08999999988|
|           2|  7846602.789999888|
|           4|  62243.18999999998|
|           0| 2805509.7700004894|
+------------+-------------------+

Without cache: 0.2492225170135498

25/07/07 13:14:33 WARN CacheManager: Asked to cache already cached data.

+------------+-------------------+
|payment_type|   sum(fare_amount)|
+------------+-------------------+
|           1|4.303553892000613E7|
|           3| 132330.08999999988|
|           2|  7846602.789999888|
|           4|  62243.18999999998|
|           0| 2805509.7700004894|
+------------+-------------------+

With cache: 0.45485997200012207

PartitionBy and write to S3

In [139]:
df_repart = df.withColumn("pickup_date", to_date("tpep_pickup_datetime"))

In [140]:
df_repart.select("pickup_date").show()

+-----------+
|pickup_date|
+-----------+
| 2024-01-01|
| 2024-01-01|
| 2024-01-01|
| 2024-01-01|
| 2024-01-01|
| 2024-01-01|
| 2024-01-01|
| 2024-01-01|
| 2024-01-01|
| 2024-01-01|
| 2024-01-01|
| 2024-01-01|
| 2024-01-01|
| 2024-01-01|
| 2024-01-01|
| 2024-01-01|
| 2024-01-01|
| 2024-01-01|
| 2024-01-01|
| 2024-01-01|
+-----------+
only showing top 20 rows

In [ ]:
# Write partitioned data to s3
df_repart.write \
    .partitionBy("pickup_date") \
    .mode("overwrite") \
    .parquet("s3a://spark/")

In [157]:
# reading only one partition 
partition_path = "s3a://spark/pickup_date=2024-01-06"
df_one_partition = spark.read.parquet(partition_path)
df_one_partition.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2024-01-06 19:30:22|  2024-01-06 19:40:17|              1|         1.48|         1|                 N|         114|         231|           1|       11.4|  0.0|    0.5|      2.77|         0.0|                  1.0|       18.17|                 2.5|        0.0|
|       2| 2024-01-06 22:11:53|  2024-01-06 22:21:01|              2|         0.98|         1|                 N|         186|         100|           1|       10.0|  1.0|    0.5|      3.75|         0.0|                  1.0|       18.75|                 2.5|        0.0|
|       2| 2024-01-06 16:19:58|  2024-01-06 16:30:05|              1|         1.34|         1|                 N|         113|         170|           1|       10.7|  0.0|    0.5|      2.94|         0.0|                  1.0|       17.64|                 2.5|        0.0|
|       2| 2024-01-06 11:43:41|  2024-01-06 11:58:37|              3|         2.96|         1|                 N|         230|         144|           2|       16.3|  0.0|    0.5|       0.0|         0.0|                  1.0|        20.3|                 2.5|        0.0|
|       2| 2024-01-06 16:30:14|  2024-01-06 16:34:20|              2|         0.49|         1|                 N|         249|         114|           1|        4.4|  0.0|    0.5|      1.68|         0.0|                  1.0|       10.08|                 2.5|        0.0|
|       1| 2024-01-06 11:31:24|  2024-01-06 11:34:21|              1|          0.3|         1|                 N|         262|         263|           2|        4.4|  2.5|    0.5|       0.0|         0.0|                  1.0|         8.4|                 2.5|        0.0|
|       2| 2024-01-06 21:14:56|  2024-01-06 21:23:31|              1|         1.77|         1|                 N|         238|         236|           1|       10.7|  1.0|    0.5|      3.14|         0.0|                  1.0|       18.84|                 2.5|        0.0|
|       1| 2024-01-06 20:05:30|  2024-01-06 20:09:18|              0|          0.8|         1|                 N|         151|         166|           1|        6.5|  1.0|    0.5|       2.0|         0.0|                  1.0|        11.0|                 0.0|        0.0|
|       2| 2024-01-06 22:10:52|  2024-01-06 22:12:26|              3|         0.47|         1|                 N|         132|         132|           3|       -4.4| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -8.65|                 0.0|      -1.75|
|       1| 2024-01-06 18:45:17|  2024-01-06 19:09:47|              1|          2.9|         1|                 N|         141|           7|           1|       21.2|  5.0|    0.5|       5.5|         0.0|                  1.0|        33.2|                 2.5|        0.0|
|       2| 2024-01-06 01:01:52|  2024-01-06 01:09:04|              2|         1.41|         1|                 N|         234|         233|           1|        9.3|  1.0|    0.5|       2.0|         0.0|                  1.0|        16.3|                 2.5|        0.0|
|       2| 2024-01-06 13:51:24|  2024-01-06 14:00:02|              1|         1.14|         1|                 N|          68|         230|           1|        9.3|  0.0|    0.5|       2.0|         0.0|                  1.0|        15.3|                 2.5|        0.0|
|       2| 2024-01-06 10:55:42|  2024-01-06 11:00:38|              1|         0.83|         1|                 N|         170|         170|           1|        7.2|  0.0|    0.5|      2.24|         0.0|                  1.0|       13.44|                 2.5|        0.0|
|       2| 2024-01-06 14:40:57|  2024-01-06 15:18:01|              1|        17.26|         2|                 N|         132|          79|           1|       70.0|  0.0|    0.5|       4.0|        6.94|                  1.0|       86.69|                 2.5|       1.75|
|       2| 2024-01-06 23:28:29|  2024-01-07 00:00:33|              1|         8.42|         1|                 N|         143|         256|           1|       40.1|  1.0|    0.5|      9.02|         0.0|                  1.0|       54.12|                 2.5|        0.0|
|       2| 2024-01-06 09:24:12|  2024-01-06 09:32:07|              1|         2.15|         1|                 N|         237|         164|           1|       11.4|  0.0|    0.5|      3.08|         0.0|                  1.0|       18.48|                 2.5|        0.0|
|       2| 2024-01-06 17:34:37|  2024-01-06 17:49:08|              1|         2.23|         1|                 N|         239|         162|           1|       15.6|  0.0|    0.5|       1.0|         0.0|                  1.0|        20.6|                 2.5|        0.0|
|       1| 2024-01-06 10:21:09|  2024-01-06 11:06:18|              1|         11.9|        99|                 N|          17|          41|           1|       41.5|  0.0|    0.5|       0.0|         0.0|                  1.0|        43.0|                 0.0|        0.0|
|       1| 2024-01-06 15:13:08|  2024-01-06 15:21:21|              1|          1.0|         1|                 N|         233|         237|           1|        9.3|  2.5|    0.5|      2.65|         0.0|                  1.0|       15.95|                 2.5|        0.0|
|       2| 2024-01-06 10:05:48|  2024-01-06 10:12:34|              1|         1.06|         1|                 N|         166|         151|           1|        8.6|  0.0|    0.5|      2.02|         0.0|                  1.0|       12.12|                 0.0|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

Spark UDF vs Pandas UDF

In [115]:
# Spark UDF example
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

def trip_type(distance):
    return "short" if distance < 3 else "long"

trip_type_udf = udf(trip_type, StringType())

df_with_type = df.withColumn("trip_type", trip_type_udf(df["trip_distance"]))
df_with_type.select("trip_distance", "trip_type").show(10)

+-------------+---------+
|trip_distance|trip_type|
+-------------+---------+
|         1.72|    short|
|          1.8|    short|
|          4.7|     long|
|          1.4|    short|
|          0.8|    short|
|          4.7|     long|
|        10.82|     long|
|          3.0|     long|
|         5.44|     long|
|         0.04|    short|
+-------------+---------+
only showing top 10 rows

In [ ]:
!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-20.0.0-cp310-cp310-manylinux_2_28_x86_64.whl (42.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.3/42.3 MB 43.3 MB/s eta 0:00:0000:0100:01
Installing collected packages: pyarrow
Successfully installed pyarrow-20.0.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 23.0.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

In [ ]:
#pandas udf example
# add pip install pyarrow on workers as well......
from pyspark.sql.functions import pandas_udf
from pyspark.sql.types import StringType

@pandas_udf(StringType())
def trip_type_pandas_udf(distance_series):
    return distance_series.apply(lambda d: "short" if d < 3 else "long")

df_with_type = df.withColumn("trip_type", trip_type_pandas_udf(df["trip_distance"]))
df_with_type.select("trip_distance", "trip_type").show(10)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|pickup_date|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+
|       2| 2024-01-01 00:57:55|  2024-01-01 01:17:43|              1|         1.72|         1|                 N|         186|          79|           2|       17.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        22.7|                 2.5|        0.0| 2024-01-01|
|       1| 2024-01-01 00:03:00|  2024-01-01 00:09:36|              1|          1.8|         1|                 N|         140|         236|           1|       10.0|  3.5|    0.5|      3.75|         0.0|                  1.0|       18.75|                 2.5|        0.0| 2024-01-01|
|       1| 2024-01-01 00:17:06|  2024-01-01 00:35:01|              1|          4.7|         1|                 N|         236|          79|           1|       23.3|  3.5|    0.5|       3.0|         0.0|                  1.0|        31.3|                 2.5|        0.0| 2024-01-01|
|       1| 2024-01-01 00:36:38|  2024-01-01 00:44:56|              1|          1.4|         1|                 N|          79|         211|           1|       10.0|  3.5|    0.5|       2.0|         0.0|                  1.0|        17.0|                 2.5|        0.0| 2024-01-01|
|       1| 2024-01-01 00:46:51|  2024-01-01 00:52:57|              1|          0.8|         1|                 N|         211|         148|           1|        7.9|  3.5|    0.5|       3.2|         0.0|                  1.0|        16.1|                 2.5|        0.0| 2024-01-01|
|       1| 2024-01-01 00:54:08|  2024-01-01 01:26:31|              1|          4.7|         1|                 N|         148|         141|           1|       29.6|  3.5|    0.5|       6.9|         0.0|                  1.0|        41.5|                 2.5|        0.0| 2024-01-01|
|       2| 2024-01-01 00:49:44|  2024-01-01 01:15:47|              2|        10.82|         1|                 N|         138|         181|           1|       45.7|  6.0|    0.5|      10.0|         0.0|                  1.0|       64.95|                 0.0|       1.75| 2024-01-01|
|       1| 2024-01-01 00:30:40|  2024-01-01 00:58:40|              0|          3.0|         1|                 N|         246|         231|           2|       25.4|  3.5|    0.5|       0.0|         0.0|                  1.0|        30.4|                 2.5|        0.0| 2024-01-01|
|       2| 2024-01-01 00:26:01|  2024-01-01 00:54:12|              1|         5.44|         1|                 N|         161|         261|           2|       31.0|  1.0|    0.5|       0.0|         0.0|                  1.0|        36.0|                 2.5|        0.0| 2024-01-01|
|       2| 2024-01-01 00:28:08|  2024-01-01 00:29:16|              1|         0.04|         1|                 N|         113|         113|           2|        3.0|  1.0|    0.5|       0.0|         0.0|                  1.0|         8.0|                 2.5|        0.0| 2024-01-01|
|       2| 2024-01-01 00:35:22|  2024-01-01 00:41:41|              2|         0.75|         1|                 N|         107|         137|           1|        7.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        12.9|                 2.5|        0.0| 2024-01-01|
|       1| 2024-01-01 00:25:00|  2024-01-01 00:34:03|              2|          1.2|         1|                 N|         158|         246|           1|       14.9|  3.5|    0.5|      3.95|         0.0|                  1.0|       23.85|                 2.5|        0.0| 2024-01-01|
|       1| 2024-01-01 00:35:16|  2024-01-01 01:11:52|              2|          8.2|         1|                 N|         246|         190|           1|       59.0|  3.5|    0.5|     14.15|        6.94|                  1.0|       85.09|                 2.5|        0.0| 2024-01-01|
|       1| 2024-01-01 00:43:27|  2024-01-01 00:47:11|              2|          0.4|         1|                 N|          68|          90|           1|        5.8|  3.5|    0.5|      1.25|         0.0|                  1.0|       12.05|                 2.5|        0.0| 2024-01-01|
|       1| 2024-01-01 00:51:53|  2024-01-01 00:55:43|              1|          0.8|         1|                 N|          90|          68|           2|        6.5|  3.5|    0.5|       0.0|         0.0|                  1.0|        11.5|                 2.5|        0.0| 2024-01-01|
|       1| 2024-01-01 00:50:09|  2024-01-01 01:03:57|              1|          5.0|         1|                 N|         132|         216|           2|       21.2| 2.75|    0.5|       0.0|         0.0|                  1.0|       25.45|                 0.0|       1.75| 2024-01-01|
|       1| 2024-01-01 00:41:06|  2024-01-01 00:53:42|              1|          1.5|         1|                 N|         164|          79|           1|       12.8|  3.5|    0.5|      4.45|         0.0|                  1.0|       22.25|                 2.5|        0.0| 2024-01-01|
|       2| 2024-01-01 00:52:09|  2024-01-01 00:52:28|              1|          0.0|         1|                 N|         237|         237|           2|        3.0|  1.0|    0.5|       0.0|         0.0|                  1.0|         8.0|                 2.5|        0.0| 2024-01-01|
|       2| 2024-01-01 00:56:38|  2024-01-01 01:03:17|              1|          1.5|         1|                 N|         141|         263|           1|        9.3|  1.0|    0.5|       3.0|         0.0|                  1.0|        17.3|                 2.5|        0.0| 2024-01-01|
|       2| 2024-01-01 00:32:34|  2024-01-01 00:49:33|              1|         2.57|         1|                 N|         161|         263|           1|       17.7|  1.0|    0.5|      10.0|         0.0|                  1.0|        32.7|                 2.5|        0.0| 2024-01-01|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+
only showing top 20 rows

Why Pandas UDFs are Faster than Regular UDFs
1. Execution Model
Regular (Scalar) UDFs:
Process one row at a time.
Spark sends each row from the JVM to Python, applies your function, and sends the result back.

This is slow because there are millions of rows and lots of cross-language (JVM–Python) communication!

Pandas UDFs (Vectorized UDFs):
Process a whole batch of rows at once using Pandas Series (vectorized, column-wise).
Spark sends big batches (as Arrow tables) to Python, applies your function to the entire batch, and sends all results back at once.

This is much faster because it uses efficient in-memory Arrow serialization and reduces communication overhead!

coalesce and repartition

In [ ]:
#repartition 
df_repart = df.withColumn("pickup_date", to_date("tpep_pickup_datetime"))
df_repart = df_repart.repartition(15)
print("Partitions after repartition:", df_repart.rdd.getNumPartitions()) 

df_repart.write \
    .partitionBy("pickup_date") \
    .mode("overwrite") \
    .parquet("s3a://spark/")

In [ ]:
# repartition by column
df_by_date = df_repart.repartition(10, "pickup_date")
print("Number of partitions:", df_by_date.rdd.getNumPartitions())

df_by_date.write \
    .partitionBy("pickup_date") \
    .mode("overwrite") \
    .parquet("s3a://spark/")

In [ ]:
#coalesce
df_coalesce = df.withColumn("pickup_date", to_date("tpep_pickup_datetime"))
df_coalesce = df_coalesce.coalesce(2)
print("Num partitions:", df_coalesce.rdd.getNumPartitions()) 

df_coalesce.write \
    .partitionBy("pickup_date") \
    .mode("overwrite") \
    .parquet("s3a://spark/")

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, explode

# Start Spark session
spark = SparkSession.builder.appName("Flatten Nested JSON").getOrCreate()

# Read the JSON file with schema
schema_str = """
id BIGINT,
name STRING,
address STRUCT<city:STRING, zipcode:STRING>,
orders ARRAY<STRUCT<order_id:STRING, items:ARRAY<STRING>, total:DOUBLE>>,
metadata STRUCT<preferences:STRUCT<newsletter:BOOLEAN, language:STRING>, last_login:STRING>
"""

df = spark.read \
    .schema(schema_str) \
    .option("multiLine", "true") \
    .json("input.json")  # <-- Replace with your JSON file path

# Step 1: Explode the `orders` array
df_exploded_orders = df.select(
    "id",
    "name",
    col("address.city").alias("city"),
    col("address.zipcode").alias("zipcode"),
    explode("orders").alias("order"),
    col("metadata.preferences.newsletter").alias("newsletter"),
    col("metadata.preferences.language").alias("language"),
    col("metadata.last_login").alias("last_login")
)

# Step 2: Explode the `items` array inside each order
df_final = df_exploded_orders.select(
    "id",
    "name",
    "city",
    "zipcode",
    col("order.order_id").alias("order_id"),
    explode("order.items").alias("item"),  # Explode each item
    col("order.total").alias("total"),
    "newsletter",
    "language",
    "last_login"
)

# Show the final flattened DataFrame
df_final.show(truncate=False)